In [1]:
import pandas as pd 
df = pd.read_csv('/home/webwerks/go2future/vision_data_user_check.csv')
df

,id,product,timestamp,user,zone
0,676a2a53-5e37-4de1-8e4d-ec6985cb9129,7792900092676,2021-8-5 16:44:19,0,1.2
1,5d59ad3b-963a-443f-9d9f-57eaf040b485,7792900092911,2021-8-5 17:28:57,0,1.1
2,37b37dd2-5c51-4e19-87e7-94ffa0ab08bd,7792900093260,2021-8-5 17:31:3,0,1.1
3,6fce69df-a864-4577-8565-e59cc2542863,-1,2021-8-5 16:59:46,0,1.1
4,f50a937f-c8b1-4917-a77b-9939b20c6382,7792900092676,2021-8-5 17:30:39,0,1.1
...,...,...,...,...,...
4402,40a179c1-bb29-4eda-86b4-ce1c07fe6f8a,7792900092683,2021-8-5 17:2:54,0,1.2
4403,d5121f2f-14be-4b20-a253-26536d90297f,7792900092683,2021-8-5 16:59:25,0,1.1
4404,e73f2bae-f09f-449b-8ab6-6fafed0f08ec,7792900092683,2021-8-5 17:30:47,0,1.1
4405,538b2b3f-92cc-45a3-9d54-aabf0050e8fe,-1,2021-8-5 16:40:22,1,1.2
4406,d8b504f6-0974-406e-b115-291ed8de40f4,7792900092676,2021-8-5 17:28:13,0,1.1

In [2]:
users = set(df['user'])
users

{0, 1}

In [3]:
from datetime import datetime


df['timestamp'] = pd.to_datetime(df['timestamp'], format="%Y-%m-%d %H:%M:%S")


df['timestamp']

0      2021-08-05 16:44:19
1      2021-08-05 17:28:57
2      2021-08-05 17:31:03
3      2021-08-05 16:59:46
4      2021-08-05 17:30:39
               ...
4402   2021-08-05 17:02:54
4403   2021-08-05 16:59:25
4404   2021-08-05 17:30:47
4405   2021-08-05 16:40:22
4406   2021-08-05 17:28:13
Name: timestamp, Length: 4407, dtype: datetime64[ns]

In [10]:
x = df.query('"2021-08-05 16:44:19" < timestamp < "2021-08-05 17:02:54" and zone == 1.2')
x.['user']

TypeError: 'method' object is not subscriptable